/* common shared style */
body{ 
    font-family: 'Open Sans', sans-serif;
}

.primary-text-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

/* nav related styles */
nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px ;

}
.web-tittle{
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header-bg{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.img{
    width: 500px;
    /* padding: 0; */
    
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}
.banner-heading{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0px;
}
.extra1{
    background-color: white;
    color: #FD6E0A;
    border:1px solid  #FD6E0A;
    margin-left: 15px;

}
.pera{
    margin-top: 20px;
    max-width: 585px;
    font-size: 18px;
font-weight: 400;
line-height: 30px; 
     color:#757575 ;
     margin-bottom: 0px;
}
.btn-di{
    margin-top: 30px;
}